<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" href="/"><img class="logo" src="https://fullstack.edu.vn/assets/icon/f8_icon.png" alt="logo"></a>
  <div class="container">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <img class="user-avatar" src="https://fullstack.edu.vn/assets/icon/f8_icon.png" alt="avatar"> Công Quý
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
              <a class="dropdown-item" href="#">Sửa khóa học</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">Đăng xuất</a>
            </div>
          </li>
        </ul>
      </div>

  </div>
</nav>